# ========================
# DJANGO / PYTHON
# ========================

# Entorno virtual
venv/
env/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Base de datos (normalmente NO se sube)
db.sqlite3
db.sqlite3-journal

# Archivos de logs
*.log

# Media (archivos subidos por usuarios)
media/

# Archivos estáticos compilados
staticfiles/

# Archivos de entorno
.env
.env.*

# Coverage / testing
.coverage
htmlcov/
.pytest_cache/

# ========================
# NODE / EXPO (lo que ya tenías)
# ========================

node_modules/

.expo/
dist/
web-build/
expo-env.d.ts

.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

.metro-health-check*

npm-debug.*
yarn-debug.*
yarn-error.*

.DS_Store
*.pem

.env*.local

*.tsbuildinfo

app-example

/ios
/android

# ========================
# EDITORES
# ========================

.vscode/
.idea/

# Windows
Thumbs.db